title: "stockanalysis UBS"
author: "Kye Stüger"
date: "21 de junho de 2023"
lang: 
format: 
  html:
    code-tools: true
    code-fold: true
    default-image-extension: png
    page-layout: full
jupyter: python3

In [1]:
import pandas_datareader.data as web 
import datetime as dt 
import talib as ta
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd

In [4]:
data = web.DataReader('UBS','stooq')

In [5]:
data

              Open    High      Low   Close   Volume
Date
2023-06-20  20.340  20.350  20.0600  20.090  2603212
2023-06-16  20.570  20.580  20.3901  20.410  2525691
2023-06-15  20.290  20.460  20.2400  20.420  4504957
2023-06-14  20.500  20.685  20.3900  20.490  3186254
2023-06-13  20.320  20.465  20.2500  20.280  2983834
...            ...     ...      ...     ...      ...
2018-06-28  13.491  13.549  13.3940  13.499  1565108
2018-06-27  13.536  13.669  13.4390  13.447  2232784
2018-06-26  13.580  13.625  13.4470  13.606  2590317
2018-06-25  13.588  13.625  13.4640  13.527  2212185
2018-06-22  13.784  13.885  13.7570  13.837  2072754

[1256 rows x 5 columns]

This data has been taken form "Stooq"

In [29]:
lista = data
for element in lista:
    try:
        if isinstance(element, int) and element <= 20:
            print('buy')
        elif isinstance(element, str) and int(element) <= 20:
            print('buy')
        else:
            print('not buy')
    except ValueError:
        print('not buy')

not buy
not buy
not buy
not buy
not buy
not buy

In [33]:
from functools import reduce
numbers = data["Volume"]
sum_of_numbers = reduce(lambda x, y: x + y, numbers)
print(sum_of_numbers)

4059843464

In [34]:
start=dt.datetime(2022,6,13)
end=dt.datetime.now()
data=web.DataReader('UBS','stooq',start,end)
median= data%2==0 
print(median)

             Open   High    Low  Close  Volume
Date
2023-06-20  False  False  False  False    True
2023-06-16  False  False  False  False   False
2023-06-15  False  False  False  False   False
2023-06-14  False  False  False  False    True
2023-06-13  False  False  False  False    True
...           ...    ...    ...    ...     ...
2022-06-17  False  False  False  False    True
2022-06-16  False  False  False  False   False
2022-06-15  False  False  False  False   False
2022-06-14  False  False  False  False    True
2022-06-13  False  False  False  False    True

[256 rows x 5 columns]

In [36]:
start = dt.datetime(2023, 1, 1)
end = dt.datetime.now()
data = web.DataReader('UBS', 'stooq', start, end)

column_to_sum = data['Close']
resultado = sum(column_to_sum)
print(resultado)

2380.730000000001